version: '3.9'
services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    command: pnpm start
    working_dir: /app
    restart: unless-stopped
    env_file: .env
    depends_on:
      - redis
    volumes:
      - .:/app

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
